ul{
    margin-right:20px;
    list-style: none;
}



body {

    min-width: 600px;
}
.header a {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 21px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
}

.navbar{
    margin-top: 40px;
}

section{
    margin-bottom: 150px;
}
.hero-txt  {
    font-size: 65px;
    letter-spacing: 1px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 0px;

}
.hero-p{
    width: 571px;
    height: 53px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #6e757a;
    font-weight: 400;
    font-family: sans-serif;
    margin-bottom: 30px;

}
img {
    vertical-align: middle;
}

.hero-img{
    position: absolute;
    z-index: -9;
    

}
  .hero-a{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #314584;
    font-weight: 600;
    font-family:sans-serif;

}
 .hero-btns button{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 20px;
    padding: 10px;
    margin-right: 40px;
    }

    .side-img img {
        position: absolute;
        left: -20px;
        z-index: -9;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .side2-img img {
       
        position: absolute;
        right: -20px;
        top: 1250px;
        z-index:-9;
   
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .service{
        margin-top: 150px;
    }
   .service-txt .service-btn{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 16px;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.service-txt h2{
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
    text-align: left;
}
.service-box{
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0px 2px 7px 0px rgb(28 31 33 / 15%);
    min-height: 300px;

}
.service-box img{
align-content: center;
}
.service-box h3{
    font-size: 27px;
    letter-spacing: 0px;
    line-height: 39px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
}
.service-box p{
    width: 200px;
    height: 98px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #314584;
    font-weight: 400;
}

.about h5{
    font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #ff3946;
font-weight: 600;
font-family: sans-serif;
}

.about h2{
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
}

.about p{
   

font-size: 18px;
letter-spacing: 0px;
line-height: 30px;
color: #314584;
font-weight: 400;
font-family: sans-serif;

}

.work h2{
font-size: 45px;
letter-spacing: 0px;
line-height: 60px;
color: #314584;
font-weight: 600;
font-family: sans-serif;
}

.work .more {
font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #ff3946;
font-weight: 600;
font-family:sans-serif;
text-align: center;
margin-top: 20px;
}

.work-box{
    margin:20px;
}

.blog .row{
    margin-bottom: 20px;
}
.blog h5{
    font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #ff3946;
font-weight: 600;
font-family: sans-serif;
}

.blog h2{
    font-size: 48px;
letter-spacing: 0px;
line-height: 60px;
color: #314584;
font-weight: 600;
font-family:sans-serif;
}

.blog {
    color: #314584;
   
}
.blog .blog-box{
    padding: 50px 25px;

filter: drop-shadow(0px 5px 5px rgba(25,45,51,0.15));
background-color: #ffffff;
    
}
.blog  .active{
color:white;
background-color: red;
}


.blog .date{

font-size: 14px;
letter-spacing: 0px;
line-height: 30px;
font-weight: 400;
font-family: sans-serif;
}
.blog .para{  
font-size: 18px;
letter-spacing: 0px;
line-height: 30px;
font-weight: 400;
font-family:sans-serif;

}
.blog-box img{
   float: right;
}

.contact h5{
    font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #ff3946;
font-weight: 600;
font-family:sans-serif;
}
.contact h2{
    font-size: 48px;
letter-spacing: 0px;
line-height: 60px;
color: #314584;
font-weight: 600;
font-family:sans-serif;
}

.contact .email{
    font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #314584;
font-weight: 600;
font-family: sans-serif;
width: 570px;
height: 60px;
background-color: #f4fafe;
}
.message{
    font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #314584;
font-weight: 600;
font-family:sans-serif; 
}
.email input{
    width: 100%;
    height: 60px;

    background-color: #F4FAFE;
    border: none;
    padding: 0px 20px;

    color: #314584;
    font-weight: 600;
    margin-bottom: 15px;
}
textarea {
    background-color: #F4FAFE;
    border: none;
    width: 100%;
    padding: 20px;

    margin-top: 15px;

    color: #314584;
    font-weight: 600;

}
  .contact-btn{
      margin-top: 50px;
      margin-left:40%;

  }
.contact-btn a{
    font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #ff3946;
font-weight: 600;
font-family: sans-serif;
}
.btn {
    border-radius: 20px;

}
.foot{
    background-color: #314584;
    width: 100%;
    min-height: 400px;
    text-align: center;
    padding: 70px 0px 0px 0px;
    justify-content: center;

}
.foot h5{
font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #ffffff;
font-weight: 600;
font-family: sans-serif;
}
.foot h3{
font-size: 48px;
letter-spacing: 0px;
line-height: 60px;
color: #ff3946;
font-weight: 600;
font-family:sans-serif;
}
.foot .contact-nav{
font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #ffffff;
font-weight: 600;
font-family:sans-serif;
}
.foot h6{
margin:40px 0px;
font-size: 14px;
letter-spacing: 0px;
line-height: 21px;
color: #ffffff;
font-weight: 400;
font-family: sans-serif;
}