ul{
    margin-right:20px;
}
a {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 21px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
}

.navbar{
    margin-top: 40px;
}
.container{
    margin-bottom: 60px;
}
.hero{
    margin-top: 150px;
}
.hero h1 {
    
    font-size: 65px;
    letter-spacing: 1px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 0px;

}
.hero p{
    width: 571px;
    height: 53px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #6e757a;
    font-weight: 400;
    font-family: sans-serif;
    margin-bottom: 30px;

}
img {
    vertical-align: middle;
}


  .hero a{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #314584;
    font-weight: 600;
    font-family:sans-serif;

}
 .hero-btns button{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 20px;
    padding: 10px;
    margin-right: 40px;
    }
.hero img{
    width:40%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -9;
    margin-top: 30px;

    }
    .side-img img {
        position: absolute;
        left: -20px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .side2-img img {
        width:15%;
        position: absolute;
        right: -20px;
        top: 1250px;
   
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .service{
        margin-top: 150px;
    }
   .service-txt .service-btn{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 16px;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.service-txt h2{
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
    text-align: left;
}
.service-box{
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0px 2px 7px 0px rgb(28 31 33 / 15%);
    min-height: 300px;

}
.service-box img{
align-content: center;
}
.service-box h3{
    font-size: 27px;
    letter-spacing: 0px;
    line-height: 39px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
}
.service-box p{
    width: 200px;
    height: 98px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #314584;
    font-weight: 400;
}

.about h5{
    font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #ff3946;
font-weight: 600;
font-family: sans-serif;
}

.about h2{
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #314584;
    font-weight: 600;
    font-family: sans-serif;
}

.about p{
   

font-size: 18px;
letter-spacing: 0px;
line-height: 30px;
color: #314584;
font-weight: 400;
font-family: sans-serif;

}

.work h2{
font-size: 45px;
letter-spacing: 0px;
line-height: 60px;
color: #314584;
font-weight: 600;
font-family: sans-serif;
}

.work .more {
font-size: 18px;
letter-spacing: 0px;
line-height: 21px;
color: #ff3946;
font-weight: 600;
font-family:sans-serif;
text-align: center;
}